---
title: 留学
layout: default
description: ベレコール留学サービス。質の高い学校のみと提携しています。自分らしい留学ができます。カウンセリングも手数料も無料！
keywords: 留学, フランス留学, 留学, フランス語学学校,　手数料無料
---

<div id="classiccontent" class="france">
    <h2>Introduction</h2>
    <p>
        ベレコールは、“Label Qualité FLE (Français Langue Etrangère)”を取得した、質の高い学校のみと提携しています。<br>
        <br>
        “Label Qualité FLE”とは、フランス政府（外務省、高等教育研究省、文化通信省など）が、教育と設備で一定以上の評価を受けた学校のみ認定されるラベルです。<br>
        <br>
        ベレコールではパリだけでなく、様々な学校、地域、コースから、あなたに合ったものをお選びいただけます。<br>
        <br>
        ベレコールなら<br>
        </p>
        <ul class="gauche">
            <li>質の高い教育、設備で学べる</li>
            <li>自分らしい留学ができる</li>
            <li>留学まではベレコールがサポートするので安心</li>
			<li>カウンセリング無料！</li>
			<li>手数料無料！！</li>
        </ul>


    <h2>Paris</h2>
    <div class="carteConteneur">
        <img src="{{site.baseurl}}/img/paris.jpg" alt="">
        {% include cities-position-list.html region='paris' %}

    </div>

    <img class="carteParisMobile" src="{{site.baseurl}}/img/parisMobile.jpg" alt="">

    <div class="liensEcoles">
        {% include cities-link-list.html region='paris' %}
    </div>


    <h2>France</h2>
    <div class="carteConteneur">
        <img src="{{site.baseurl}}/img/france.jpg" alt="">
        {% include cities-position-list.html region='france' %}
    </div>

    <img class="carteFranceMobile" src="{{site.baseurl}}/img/franceMobile.jpg" alt="">

    <div class="liensEcoles">
        {% include cities-link-list.html region='france' %}
    </div>

</div>
<!-- /Fonctionnement -->
